<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<div id="exercise">
  <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
  <div>
    <button @click="toggle = !toggle">Toggle</button>
    <template v-if="toggle">
      <p>You either see me ...</p>
      <p>...or me</p>
    </template>
    <div v-show="toggle">
      <p>You either see me ...</p>
      <p>...or me</p>
    </div>

  </div>
  <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
  <ul>
    <li v-for="(a, index) in array"> {{ a }} ({{index}}) </li>
  </ul>
  <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
  <ul>
    <li v-for="(o, key, index) in myObject">{{ key }}: {{ o }} ({{index}})</li>
  </ul>
  <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
  <ul>
    <li v-for="(data, key) in testData">
      <strong>{{key}}: {{ data }}</strong>
      <ul v-if="typeof data == 'object'" v-for="element in data">
        <li> {{element}} </li> 
      </ul>
    </li>
  </ul>
  <ul>
    <li v-for="value in testData">
      <template v-if="Array.isArray(value)">
        <div v-for="element in value"> {{ element }}</div>
      </template>
      <template v-else>
        {{ value }}
      </template>
    </li>
  </ul>
</div>

<script src="app.js"></script>